html {
  overflow-x: hidden;
}
body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Mono', sans-serif;
  font-size: inherit;
  font-weight: 500;
}
p {
  margin-top: 0;
}
.header {
  background-color: #E0E0E0;
}
@media screen and (min-width: 900px) {
  .header {
    height: 440px;
  }
}
.header__image {
  background-image: url(../images/headshot.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-top: calc(190px);
  margin-left: 5%;
}
@media screen and (min-width: 900px) {
  .header__image {
    background-image: url(../images/headshot_large.png);
    padding-top: calc(440px);
    display: inline-block;
    width: 400px;
  }
}
.intro {
  margin-left: none;
  background-color: #030303;
}
@media screen and (min-width: 900px) {
  .intro {
    display: inline-block;
    margin-left: 5%;
    background-color: #E0E0E0;
    vertical-align: top;
    padding-top: calc(5em);
  }
}
.intro__content {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2em;
  padding-bottom: 1em;
  max-width: 400px;
  color: #ffffff;
  background-color: #030303;
}
@media screen and (min-width: 900px) {
  .intro__content {
    color: #030303;
    background-color: #E0E0E0;
  }
}
.section__content {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2em;
  padding-bottom: 1em;
  max-width: 400px;
}
.section__content--allow-wide {
  max-width: 35em;
}
.section__image {
  background-repeat: no-repeat;
  padding-top: 200px;
}
.section--dark {
  color: #ffffff;
  background-color: #030303;
}
.section--medium {
  color: #030303;
  background-color: #F7F7F7;
}
.section--light {
  color: #030303;
  background-color: #ffffff;
}
.section--first-in-section {
  padding-top: 2em;
}
.section--last-in-section {
  padding-bottom: 4em;
}
.sub-section__content {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1em;
  padding-bottom: 0em;
}
.sub-section--first-in-section {
  padding-top: 2em;
}
.sub-section--last-in-section {
  padding-bottom: 4em;
}
.image--full-width {
  max-width: 100%;
}
.my-work-item {
  padding-top: 2em;
  padding-bottom: 4em;
}
.my-work-item__image {
  display: inline-block;
  padding-top: 1em;
  vertical-align: top;
  max-width: 15em;
}
.my-work-item__description {
  display: inline-block;
  max-width: 18em;
  padding-top: 2em;
  vertical-align: top;
}
@media screen and (min-width: 900px) {
  .my-work-item__description {
    padding-left: 2em;
    padding-top: 1em;
  }
}
.footer {
  min-height: 10em;
}
@media screen and (min-width: 900px) {
  .footer__content {
    padding-top: 4em;
  }
}
.section-heading {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 1em;
}
.sub-heading {
  font-size: 1.1em;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.75em;
}
.link {
  text-decoration: none;
  margin-bottom: 0.75em;
  line-height: 1.5em;
  display: block;
}
.link:hover {
  text-decoration: underline;
  opacity: .8;
}
.link__about-me {
  color: #ffffff;
  text-decoration: underline;
}
@media screen and (min-width: 900px) {
  .link__about-me {
    color: #0066CC;
    text-decoration: none;
  }
}
.link--on-dark-bg {
  color: #ffffff;
  text-decoration: underline;
}
.link--on-light-bg {
  color: #0066CC;
}
.link--list {
  margin-top: 0;
  margin-bottom: 2.5em;
}
@media screen and (min-width: 900px) {
  .link__footer {
    display: inline;
    padding-right: 2em;
  }
}
.link--inline {
  display: inline;
}
