body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  position: relative;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 100;
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Mono', sans-serif;
  font-size: inherit;
  font-weight: 500;
}
p {
  margin-top: 0;
  max-width: 630px;
  font-weight: 100;
}
.nav {
  background-color: #E0E0E0;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  padding: 0.01em 0em 0.01em 0em;
  width: 100%;
  position: fixed;
  z-index: 200;
}
@media screen and (min-width: 900px) {
  .nav {
    padding: 1.5em 2em 1.5em 0em;
  }
}
.nav--stuck {
  background-color: #ffffff;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.nav--on-white-bg {
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  background-color: #ffffff;
}
.nav--on-light-bg {
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  background-color: #F7F7F7;
}
.nav__list {
  list-style: none;
  margin-left: 5%;
  padding: 0;
}
@media screen and (min-width: 900px) {
  .nav__list {
    margin: auto;
    max-width: 900px;
  }
}
.nav__item a {
  text-decoration: none;
  color: #030303;
  padding: 1em 0.6em;
}
@media screen and (min-width: 900px) {
  .nav__item a {
    padding: 1em 1em;
  }
}
.nav__item:first-child a {
  padding-left: 0;
}
.nav__item a:hover {
  text-decoration: underline;
}
.nav__item--selected a {
  font-weight: 700;
}
.nav__item {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1em;
  font-weight: 400;
  display: inline;
}
.header {
  background-color: #E0E0E0;
}
@media screen and (min-width: 700px) {
  .header {
    height: 440px;
  }
}
.header__content {
  max-width: 100%;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .header__content {
    max-width: 700px;
    margin: auto;
  }
}
@media screen and (min-width: 900px) {
  .header__content {
    max-width: 900px;
    margin: auto;
  }
}
.header__image {
  background-image: url(../resources/images/headshot.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-top: calc(190px);
  margin-left: 5%;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .header__image {
    background-image: url(../resources/images/headshot_large.png);
    padding-top: calc(440px);
    display: inline-block;
    width: 300px;
    background-size: contain;
    margin-left: 0;
  }
}
@media screen and (min-width: 900px) {
  .header__image {
    background-image: url(../resources/images/headshot_large.png);
    padding-top: calc(440px);
    display: inline-block;
    width: 400px;
    margin-left: 0;
  }
}
.header--extra-pading {
  padding-bottom: 4em;
  background-color: #E0E0E0;
}
.intro {
  background-color: #030303;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .intro {
    display: inline-block;
    background-color: #E0E0E0;
    vertical-align: top;
    padding-top: calc(8em);
    margin-left: 0.5em;
    max-width: 380px;
  }
}
@media screen and (min-width: 900px) {
  .intro {
    display: inline-block;
    background-color: #E0E0E0;
    vertical-align: top;
    padding-top: calc(5em);
    margin-left: 2em;
    max-width: 380px;
  }
}
.intro__content {
  padding-top: 2em;
  padding-bottom: 1em;
  max-width: 400px;
  color: #ffffff;
  margin-left: 5%;
  margin-right: 3.8%;
}
@media screen and (min-width: 700px) {
  .intro__content {
    color: #030303;
    background-color: #E0E0E0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-right: 5%;
  }
}
.section__content {
  padding-top: 2em;
  padding-bottom: 1em;
  max-width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
@media screen and (min-width: 900px) {
  .section__content {
    max-width: 900px;
    margin: auto;
  }
}
.section__image {
  background-repeat: no-repeat;
  padding-top: 200px;
}
.section--dark {
  color: #ffffff;
  background-color: #030303;
}
.section--medium {
  color: #030303;
  background-color: #F7F7F7;
}
.section--light {
  color: #030303;
  background-color: #ffffff;
}
.section--first-in-section {
  padding-top: calc(1.5em);
}
@media screen and (min-width: 900px) {
  .section--first-in-section {
    padding-top: 3em;
  }
}
.section--top-of-page {
  padding-top: calc(5em);
}
@media screen and (min-width: 900px) {
  .section--top-of-page {
    padding-top: 7.5em;
  }
}
.section--last-in-section {
  padding-bottom: calc(2em);
}
@media screen and (min-width: 900px) {
  .section--last-in-section {
    padding-bottom: 4em;
  }
}
.section--on-top {
  z-index: 99;
  position: relative;
}
.section--nav {
  padding-top: calc(2.75em);
}
.sub-section__content {
  padding-top: 1em;
  padding-bottom: 1.5em;
  max-width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
@media screen and (min-width: 900px) {
  .sub-section__content {
    max-width: 900px;
    margin: auto;
  }
}
.sub-section__content--no-margins {
  margin: 0;
}
.sub-section--first-in-section {
  padding-top: 3em;
}
.sub-section--last-in-section {
  padding-bottom: 4em;
}
.paragraph__home {
  max-width: 400px;
}
.tota11y {
  display: none;
}
@media screen and (min-width: 900px) {
  .tota11y {
    display: block;
  }
}
.image--full-width {
  width: 100%;
  display: block;
}
.image--medium {
  width: 100%;
  max-width: 630px;
  display: inline-block;
  margin-bottom: 2em;
}
.image--small {
  width: 100%;
  max-width: calc(315px);
  display: inline-block;
  margin-bottom: 2em;
}
.image--with-caption {
  margin-bottom: 0;
}
.placeholder {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.placholder--loaded {
  overflow: visible;
}
.placeholder img {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
}
.placeholder img.loaded {
  opacity: 1;
  overflow: visible;
}
.placeholder img.hidden {
  opacity: 0;
}
.img-small {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  /* this is needed so Safari keeps sharp edges */
  -webkit-transform: scale(1);
          transform: scale(1);
}
.my-work-item {
  padding-top: 2em;
  padding-bottom: 4em;
}
.my-work-item--with-ipad {
  padding-top: 3em;
  padding-bottom: 3em;
  max-width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
@media screen and (min-width: 900px) {
  .my-work-item--with-ipad {
    max-width: 900px;
    margin: auto;
    padding-top: 8em;
    padding-bottom: 10em;
  }
}
.my-work-item__image--ipad {
  width: 100%;
  max-width: 24em;
  display: inline-block;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .my-work-item__image--ipad {
    max-width: 15em;
  }
}
.my-work-item__image--ipad-shadow {
  -webkit-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.3));
}
@media screen and (min-width: 900px) {
  .my-work-item__image--ipad-shadow {
    -webkit-filter: drop-shadow(10px 15px 20px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(10px 15px 20px rgba(0, 0, 0, 0.3));
  }
}
.my-work-item__description--ipad {
  display: inline-block;
  padding-top: 2em;
  vertical-align: top;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .my-work-item__description--ipad {
    padding-left: 2em;
    padding-top: 0;
    max-width: 18em;
  }
}
@media screen and (min-width: 900px) {
  .my-work-item__description--ipad {
    padding-left: 4em;
    padding-top: 0;
    max-width: 18em;
  }
}
@media screen and (max-width: 700px) {
  .h2-heading__with-ipad--side-by-side {
    display: none;
  }
}
.h2-heading__with-ipad--vertically-stacked {
  padding-bottom: 1em;
}
@media screen and (min-width: 700px) {
  .h2-heading__with-ipad--vertically-stacked {
    display: none;
  }
}
.my-work-item--with-side-image {
  padding-top: 3em;
  padding-bottom: 3em;
  max-width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
@media screen and (min-width: 900px) {
  .my-work-item--with-side-image {
    max-width: 900px;
    margin: auto;
    padding-top: 10em;
    padding-bottom: 10em;
  }
}
@media screen and (max-width: 900px) {
  .h2-heading__with-side-image--side-by-side {
    display: none;
  }
}
.h2-heading__with-side-image--vertically-stacked {
  padding-bottom: 0.5em;
}
@media screen and (min-width: 900px) {
  .h2-heading__with-side-image--vertically-stacked {
    display: none;
  }
}
.my-work-item__image {
  width: 100%;
  max-width: 35em;
  display: inline-block;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .my-work-item__image {
    max-width: 65em;
  }
}
@media screen and (min-width: 900px) {
  .my-work-item__image {
    max-width: 24em;
  }
}
.my-work-item__description--side-image {
  display: inline-block;
  padding-top: 2em;
  vertical-align: top;
}
@media screen and (min-width: 900px) {
  .my-work-item__description--side-image {
    padding-left: 4em;
    padding-top: 0;
    max-width: 18em;
  }
}
.my-work-item--with-desktop-browser {
  padding-top: 3em;
  padding-bottom: 0;
  max-width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
@media screen and (min-width: 900px) {
  .my-work-item--with-desktop-browser {
    max-width: 900px;
    margin: auto;
    padding-top: 8em;
  }
}
.my-work-item__image--browser-centred {
  width: 100%;
  max-width: 65em;
  display: block;
  margin-top: 3em;
}
@media screen and (min-width: 900px) {
  .my-work-item__image--browser-centred {
    margin-top: 4em;
  }
}
.my-work-item__image--browser-centred-shadow {
  -webkit-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.3));
}
@media screen and (min-width: 900px) {
  .my-work-item__image--browser-centred-shadow {
    -webkit-filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.3));
  }
}
.my-work-item_full-width-image--rubicon {
  padding: 0;
  width: 100%;
  height: 40em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20%20%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20%20%20%20%20width%3D%223264%22%20height%3D%222448%22%0A%20%20%20%20%20viewBox%3D%220%200%203264%202448%22%3E%0A%20%20%3Cfilter%20id%3D%22blur%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%0A%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%2220%2020%22%20edgeMode%3D%22duplicate%22%20/%3E%0A%20%20%20%20%3CfeComponentTransfer%3E%0A%20%20%20%20%20%20%3CfeFuncA%20type%3D%22discrete%22%20tableValues%3D%221%201%22%20/%3E%0A%20%20%20%20%3C/feComponentTransfer%3E%0A%20%20%3C/filter%3E%0A%20%20%3Cimage%20filter%3D%22url%28%23blur%29%22%0A%20%20%20%20%20%20%20%20%20xlink%3Ahref%3D%22data%3Aimage/jpeg%3Bbase64%2C/9j/4AAQSkZJRgABAQAASABIAAD/4QCMRXhpZgAATU0AKgAAAAgABQESAAMAAAABAAEAAAEaAAUAAAABAAAASgEbAAUAAAABAAAAUgEoAAMAAAABAAIAAIdpAAQAAAABAAAAWgAAAAAAAABIAAAAAQAAAEgAAAABAAOgAQADAAAAAQABAACgAgAEAAAAAQAAACigAwAEAAAAAQAAAB4AAAAA/+0AOFBob3Rvc2hvcCAzLjAAOEJJTQQEAAAAAAAAOEJJTQQlAAAAAAAQ1B2M2Y8AsgTpgAmY7PhCfv/AABEIAB4AKAMBEgACEQEDEQH/xAAfAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgv/xAC1EAACAQMDAgQDBQUEBAAAAX0BAgMABBEFEiExQQYTUWEHInEUMoGRoQgjQrHBFVLR8CQzYnKCCQoWFxgZGiUmJygpKjQ1Njc4OTpDREVGR0hJSlNUVVZXWFlaY2RlZmdoaWpzdHV2d3h5eoOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4eLj5OXm5+jp6vHy8/T19vf4+fr/xAAfAQADAQEBAQEBAQEBAAAAAAAAAQIDBAUGBwgJCgv/xAC1EQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEGEkFRB2FxEyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/2wBDAAMCAggICAkICAkICQkJCAUICAgIBQcFBQUFBQcHBwcHBwcHBwcHBwcHBwcHBwoHBwcICQkJBwcLDQoIDQcICQj/2wBDAQMEBAYFBggGBggIBwgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAj/3QAEAAX/2gAMAwEAAhEDEQA/APnC1+EOhair3eoTnRHmuLxoo00uVtM8pYxjyruaAQSKhjkkkjTDRu0mcAgn7q8NfBaJ1vbRL2d7VkS2hth5cx0eVYlKzBpkd3udx8xSwEZUDIckkgHjXwS/YnSLStShsriPUHv7FraWZHn00/Z2m3JNBFcCWItGMqU3EbmzwDive/B3h3xH4c0wQQRaXqttZW115i3N/Ppl29kGM58u48icgKoyUm80ucfOMcgHgHw4/wCCW9ncQah9pkv45gLZrUPKluFlPmM6TqiMJ7eUkIZVPmRgYBDEmvvT4TfF60u4YUCtaz3AMotPJkuVg2pHvRJo0Mcka5DNKDt3OeQQRQB+c/xb/YrnTVk043haPVoxMsMUBS30l40iiCCRpC0jtJGSqhFWSJZGYKUw/wCh2k6IDeXWqahbusscz21k0sUcjR2FuXKTWyx7nQz7m3M+HwFHA6gH5f6v8ILDwlfrDcrl1txILycpt1SMv+8eGAMRbQROVh2sqyM3zNkbGb0z/goZ8KBrPiASvdSQRxWmm28ULW7FLiFQ11cSRSF9kcshmjjBaMndEAd3AUA//9D6++G9jG6CYKA0gRy6phHiYAwIX5ExSLZlwTyTyM7R+WHwV/4KM67p0EVosVhcxQowHnW80FxuZi27zopipySSR5C9gMUAfrv8Q9P8/TdRiLsP9CvUdQNkvktCxPln+EMMqHAIBJ6EV+QvxL/4KV+Jb1Wj8y0tEEnzR2mn7fNicMPJlnlnkkkjIwzLtQM4HbqAfpf+zz8Oo4pIdSjuQltBDcoFkgeNIraSMh44JJGVY7eIhRuVSjNH3IyPzb8H/tTaudBv7uW4MhhubGK3t/IRLGKS5KFp3iBzI6h/lidjECoIVSzNQB+pfx2+Jduujy3dteMoS6tYRcCUW/kXdxKkMau8qlUVmkVRlTkyIQDnB/HbVv2vdX1O01C3vrl5vOjgkUC2hhtDDbSYNrJbxFIzCVkBVwDKGXLO+FwAdd+0D8f9Qstevo5ytz/pivIZpTPc24+zW6tbwSIRDGqBVlUxqUzJ0z5mPk/VtSaZy7BdxyWKrt3sSSWYZPzNnk96AP/Z%22%0A%20%20%20%20%20%20%20%20%20x%3D%220%22%20y%3D%220%22%0A%20%20%20%20%20%20%20%20%20height%3D%22100%25%22%20width%3D%22100%25%22/%3E%0A%3C/svg%3E);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20%20%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20%20%20%20%20width%3D%223264%22%20height%3D%222448%22%0A%20%20%20%20%20viewBox%3D%220%200%203264%202448%22%3E%0A%20%20%3Cfilter%20id%3D%22blur%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%0A%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%2220%2020%22%20edgeMode%3D%22duplicate%22%20/%3E%0A%20%20%20%20%3CfeComponentTransfer%3E%0A%20%20%20%20%20%20%3CfeFuncA%20type%3D%22discrete%22%20tableValues%3D%221%201%22%20/%3E%0A%20%20%20%20%3C/feComponentTransfer%3E%0A%20%20%3C/filter%3E%0A%20%20%3Cimage%20filter%3D%22url%28%23blur%29%22%0A%20%20%20%20%20%20%20%20%20xlink%3Ahref%3D%22data%3Aimage/jpeg%3Bbase64%2C/9j/4AAQSkZJRgABAQAASABIAAD/4QCMRXhpZgAATU0AKgAAAAgABQESAAMAAAABAAEAAAEaAAUAAAABAAAASgEbAAUAAAABAAAAUgEoAAMAAAABAAIAAIdpAAQAAAABAAAAWgAAAAAAAABIAAAAAQAAAEgAAAABAAOgAQADAAAAAQABAACgAgAEAAAAAQAAACigAwAEAAAAAQAAAB4AAAAA/+0AOFBob3Rvc2hvcCAzLjAAOEJJTQQEAAAAAAAAOEJJTQQlAAAAAAAQ1B2M2Y8AsgTpgAmY7PhCfv/AABEIAB4AKAMBEgACEQEDEQH/xAAfAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgv/xAC1EAACAQMDAgQDBQUEBAAAAX0BAgMABBEFEiExQQYTUWEHInEUMoGRoQgjQrHBFVLR8CQzYnKCCQoWFxgZGiUmJygpKjQ1Njc4OTpDREVGR0hJSlNUVVZXWFlaY2RlZmdoaWpzdHV2d3h5eoOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4eLj5OXm5+jp6vHy8/T19vf4+fr/xAAfAQADAQEBAQEBAQEBAAAAAAAAAQIDBAUGBwgJCgv/xAC1EQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEGEkFRB2FxEyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/2wBDAAMCAggICAkICAkICQkJCAUICAgIBQcFBQUFBQcHBwcHBwcHBwcHBwcHBwcHBwoHBwcICQkJBwcLDQoIDQcICQj/2wBDAQMEBAYFBggGBggIBwgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAj/3QAEAAX/2gAMAwEAAhEDEQA/APnC1+EOhair3eoTnRHmuLxoo00uVtM8pYxjyruaAQSKhjkkkjTDRu0mcAgn7q8NfBaJ1vbRL2d7VkS2hth5cx0eVYlKzBpkd3udx8xSwEZUDIckkgHjXwS/YnSLStShsriPUHv7FraWZHn00/Z2m3JNBFcCWItGMqU3EbmzwDive/B3h3xH4c0wQQRaXqttZW115i3N/Ppl29kGM58u48icgKoyUm80ucfOMcgHgHw4/wCCW9ncQah9pkv45gLZrUPKluFlPmM6TqiMJ7eUkIZVPmRgYBDEmvvT4TfF60u4YUCtaz3AMotPJkuVg2pHvRJo0Mcka5DNKDt3OeQQRQB+c/xb/YrnTVk043haPVoxMsMUBS30l40iiCCRpC0jtJGSqhFWSJZGYKUw/wCh2k6IDeXWqahbusscz21k0sUcjR2FuXKTWyx7nQz7m3M+HwFHA6gH5f6v8ILDwlfrDcrl1txILycpt1SMv+8eGAMRbQROVh2sqyM3zNkbGb0z/goZ8KBrPiASvdSQRxWmm28ULW7FLiFQ11cSRSF9kcshmjjBaMndEAd3AUA//9D6++G9jG6CYKA0gRy6phHiYAwIX5ExSLZlwTyTyM7R+WHwV/4KM67p0EVosVhcxQowHnW80FxuZi27zopipySSR5C9gMUAfrv8Q9P8/TdRiLsP9CvUdQNkvktCxPln+EMMqHAIBJ6EV+QvxL/4KV+Jb1Wj8y0tEEnzR2mn7fNicMPJlnlnkkkjIwzLtQM4HbqAfpf+zz8Oo4pIdSjuQltBDcoFkgeNIraSMh44JJGVY7eIhRuVSjNH3IyPzb8H/tTaudBv7uW4MhhubGK3t/IRLGKS5KFp3iBzI6h/lidjECoIVSzNQB+pfx2+Jduujy3dteMoS6tYRcCUW/kXdxKkMau8qlUVmkVRlTkyIQDnB/HbVv2vdX1O01C3vrl5vOjgkUC2hhtDDbSYNrJbxFIzCVkBVwDKGXLO+FwAdd+0D8f9Qstevo5ytz/pivIZpTPc24+zW6tbwSIRDGqBVlUxqUzJ0z5mPk/VtSaZy7BdxyWKrt3sSSWYZPzNnk96AP/Z%22%0A%20%20%20%20%20%20%20%20%20x%3D%220%22%20y%3D%220%22%0A%20%20%20%20%20%20%20%20%20height%3D%22100%25%22%20width%3D%22100%25%22/%3E%0A%3C/svg%3E);
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 900px) {
  .my-work-item_full-width-image--rubicon {
    height: 50em;
  }
}
.my-work-item_full-width-image--rubicon-enhanced {
  padding: 0;
  width: 100%;
  height: 40em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(/resources/images/rubicon_design_workshop_2.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/resources/images/rubicon_design_workshop_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: sharpen .5s both;
  animation: sharpen 0.5s both;
}
@media screen and (min-width: 900px) {
  .my-work-item_full-width-image--rubicon-enhanced {
    height: 50em;
  }
}
@-webkit-keyframes sharpen {
  0% {
    -webkit-filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}
@keyframes sharpen {
  0% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
.my-work-item_full-width-image--kolektiv {
  padding: 0;
  width: 100%;
  height: 40em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20%20%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20%20%20%20%20width%3D%223264%22%20height%3D%222448%22%0A%20%20%20%20%20viewBox%3D%220%200%203264%202448%22%3E%0A%20%20%3Cfilter%20id%3D%22blur%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%0A%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%2220%2020%22%20edgeMode%3D%22duplicate%22%20/%3E%0A%20%20%20%20%3CfeComponentTransfer%3E%0A%20%20%20%20%20%20%3CfeFuncA%20type%3D%22discrete%22%20tableValues%3D%221%201%22%20/%3E%0A%20%20%20%20%3C/feComponentTransfer%3E%0A%20%20%3C/filter%3E%0A%20%20%3Cimage%20filter%3D%22url%28%23blur%29%22%0A%20%20%20%20%20%20%20%20%20xlink%3Ahref%3D%22data%3Aimage/jpeg%3Bbase64%2C/9j/4AAQSkZJRgABAQAASABIAAD/4QCMRXhpZgAATU0AKgAAAAgABQESAAMAAAABAAEAAAEaAAUAAAABAAAASgEbAAUAAAABAAAAUgEoAAMAAAABAAIAAIdpAAQAAAABAAAAWgAAAAAAAABIAAAAAQAAAEgAAAABAAOgAQADAAAAAQABAACgAgAEAAAAAQAAACigAwAEAAAAAQAAAB4AAAAA/+0AOFBob3Rvc2hvcCAzLjAAOEJJTQQEAAAAAAAAOEJJTQQlAAAAAAAQ1B2M2Y8AsgTpgAmY7PhCfv/AABEIAB4AKAMBEgACEQEDEQH/xAAfAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgv/xAC1EAACAQMDAgQDBQUEBAAAAX0BAgMABBEFEiExQQYTUWEHInEUMoGRoQgjQrHBFVLR8CQzYnKCCQoWFxgZGiUmJygpKjQ1Njc4OTpDREVGR0hJSlNUVVZXWFlaY2RlZmdoaWpzdHV2d3h5eoOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4eLj5OXm5+jp6vHy8/T19vf4+fr/xAAfAQADAQEBAQEBAQEBAAAAAAAAAQIDBAUGBwgJCgv/xAC1EQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEGEkFRB2FxEyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/2wBDAAMCAggICAgICAgHCAgIBwcHCAgHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwoHBwcICQkJBwcLDQoIDQcICQj/2wBDAQMEBAUFBgcFBQgICAcICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAj/3QAEAAX/2gAMAwEAAhEDEQA/APtG51SdeAwwOnBH8qoi6XOxnBOeMsMtweg6mgDMvfG90DgYPb72K5T4s2TpCHUlOeCpIOQwPUeqn9KAMPxj8bntrk2sqyGbbE5EY3qFnYhCXzt6hs85GPpXlF5aPJcwvIXdmtrUFmOSQLiZRk9Tjpk0Ae1fE67eyNusryTNcB9oiVVVdm3O4yN33DGFPer3x+8T2J+xSCUMsT3sTttf5XtWiWdcFQTsPHyg5xxmgCtbfD2+ljEvkEIVDAvI54PThEQfrX1dpHiS1+wx3PmRLai2WQyOyrGsYQZZixAUAdScUAf/0PqPxt8VtLdRBZxwRW++JzeThoHWYSDaYzNh3jZPlJyC27GMdfzXbTHlKPK5dsH7zSSBSjDBUSMwX+HhQANo9KAPs3x7+0lptxGLQXCGVJliOIpFiM5k8hYvtUm2ESF8gqWUDByRg18n3XhwyF3eV2M7KZlIVo5SpBXdER5fykZGFBzk9zQB9ew/sf6rqclpcTXkVnZwwbfIsG+03U5ZpWDyXccv2ZFCygqiRyFXUNvYcV8ga5e32nXely6fqd/ZmHR9J8xbWd7eOVo4pFQmCM/Z3SQKVkjkiYAKgUjnAB7/APtCfBuz0mSysp7vUo1vbmQpdTxPeWcd1PFFbRJcyiVGgeXy1cKgCSOzMQWfn7J/Ze8RzavollLqZS8lazsXkknhiJlme2VpZGRUWMMzkkFUXAOAFxigD4d+N3iLUdP0OztW1q1j0/abGXyrefz9QnWPHlG3kWR1tQoZ5BG2VwrGQqrKyf8ABUP4JnTbvTNTtLh1t7hZtPSzZi0dnLGkl0z2yEFBFcoriYMC+9IMHaMKAf/Z%22%0A%20%20%20%20%20%20%20%20%20x%3D%220%22%20y%3D%220%22%0A%20%20%20%20%20%20%20%20%20height%3D%22100%25%22%20width%3D%22100%25%22/%3E%0A%3C/svg%3E);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20%20%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20%20%20%20%20width%3D%223264%22%20height%3D%222448%22%0A%20%20%20%20%20viewBox%3D%220%200%203264%202448%22%3E%0A%20%20%3Cfilter%20id%3D%22blur%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%0A%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%2220%2020%22%20edgeMode%3D%22duplicate%22%20/%3E%0A%20%20%20%20%3CfeComponentTransfer%3E%0A%20%20%20%20%20%20%3CfeFuncA%20type%3D%22discrete%22%20tableValues%3D%221%201%22%20/%3E%0A%20%20%20%20%3C/feComponentTransfer%3E%0A%20%20%3C/filter%3E%0A%20%20%3Cimage%20filter%3D%22url%28%23blur%29%22%0A%20%20%20%20%20%20%20%20%20xlink%3Ahref%3D%22data%3Aimage/jpeg%3Bbase64%2C/9j/4AAQSkZJRgABAQAASABIAAD/4QCMRXhpZgAATU0AKgAAAAgABQESAAMAAAABAAEAAAEaAAUAAAABAAAASgEbAAUAAAABAAAAUgEoAAMAAAABAAIAAIdpAAQAAAABAAAAWgAAAAAAAABIAAAAAQAAAEgAAAABAAOgAQADAAAAAQABAACgAgAEAAAAAQAAACigAwAEAAAAAQAAAB4AAAAA/+0AOFBob3Rvc2hvcCAzLjAAOEJJTQQEAAAAAAAAOEJJTQQlAAAAAAAQ1B2M2Y8AsgTpgAmY7PhCfv/AABEIAB4AKAMBEgACEQEDEQH/xAAfAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgv/xAC1EAACAQMDAgQDBQUEBAAAAX0BAgMABBEFEiExQQYTUWEHInEUMoGRoQgjQrHBFVLR8CQzYnKCCQoWFxgZGiUmJygpKjQ1Njc4OTpDREVGR0hJSlNUVVZXWFlaY2RlZmdoaWpzdHV2d3h5eoOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4eLj5OXm5+jp6vHy8/T19vf4+fr/xAAfAQADAQEBAQEBAQEBAAAAAAAAAQIDBAUGBwgJCgv/xAC1EQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEGEkFRB2FxEyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/2wBDAAMCAggICAgICAgHCAgIBwcHCAgHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwoHBwcICQkJBwcLDQoIDQcICQj/2wBDAQMEBAUFBgcFBQgICAcICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAj/3QAEAAX/2gAMAwEAAhEDEQA/APtG51SdeAwwOnBH8qoi6XOxnBOeMsMtweg6mgDMvfG90DgYPb72K5T4s2TpCHUlOeCpIOQwPUeqn9KAMPxj8bntrk2sqyGbbE5EY3qFnYhCXzt6hs85GPpXlF5aPJcwvIXdmtrUFmOSQLiZRk9Tjpk0Ae1fE67eyNusryTNcB9oiVVVdm3O4yN33DGFPer3x+8T2J+xSCUMsT3sTttf5XtWiWdcFQTsPHyg5xxmgCtbfD2+ljEvkEIVDAvI54PThEQfrX1dpHiS1+wx3PmRLai2WQyOyrGsYQZZixAUAdScUAf/0PqPxt8VtLdRBZxwRW++JzeThoHWYSDaYzNh3jZPlJyC27GMdfzXbTHlKPK5dsH7zSSBSjDBUSMwX+HhQANo9KAPs3x7+0lptxGLQXCGVJliOIpFiM5k8hYvtUm2ESF8gqWUDByRg18n3XhwyF3eV2M7KZlIVo5SpBXdER5fykZGFBzk9zQB9ew/sf6rqclpcTXkVnZwwbfIsG+03U5ZpWDyXccv2ZFCygqiRyFXUNvYcV8ga5e32nXely6fqd/ZmHR9J8xbWd7eOVo4pFQmCM/Z3SQKVkjkiYAKgUjnAB7/APtCfBuz0mSysp7vUo1vbmQpdTxPeWcd1PFFbRJcyiVGgeXy1cKgCSOzMQWfn7J/Ze8RzavollLqZS8lazsXkknhiJlme2VpZGRUWMMzkkFUXAOAFxigD4d+N3iLUdP0OztW1q1j0/abGXyrefz9QnWPHlG3kWR1tQoZ5BG2VwrGQqrKyf8ABUP4JnTbvTNTtLh1t7hZtPSzZi0dnLGkl0z2yEFBFcoriYMC+9IMHaMKAf/Z%22%0A%20%20%20%20%20%20%20%20%20x%3D%220%22%20y%3D%220%22%0A%20%20%20%20%20%20%20%20%20height%3D%22100%25%22%20width%3D%22100%25%22/%3E%0A%3C/svg%3E);
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 900px) {
  .my-work-item_full-width-image--kolektiv {
    height: 50em;
  }
}
.my-work-item_full-width-image--kolektiv-enhanced {
  padding: 0;
  width: 100%;
  height: 40em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(/resources/images/kolektiv_watching_usability_testing_summary_video.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/resources/images/kolektiv_watching_usability_testing_summary_video.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: sharpen .5s both;
  animation: sharpen 0.5s both;
}
@media screen and (min-width: 900px) {
  .my-work-item_full-width-image--kolektiv-enhanced {
    height: 50em;
  }
}
@-webkit-keyframes sharpen {
  0% {
    -webkit-filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}
@keyframes sharpen {
  0% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
.my-work-item__description--full-width-image {
  padding-top: 3em;
  padding-bottom: 0;
  max-width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
@media screen and (min-width: 900px) {
  .my-work-item__description--full-width-image {
    max-width: 900px;
    margin: auto;
    padding-top: 8em;
  }
}
.my-work-item--side-projects {
  padding-top: 3em;
  padding-bottom: 10em;
  max-width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
@media screen and (min-width: 900px) {
  .my-work-item--side-projects {
    max-width: 900px;
    margin: auto;
    padding-top: 8em;
  }
}
.my-work-item--side-projects-container {
  font-size: 0;
  line-height: 0;
  position: relative;
  padding-top: 72px;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}
.my-work-item__side-project {
  position: relative;
  max-width: 100%;
  width: 100%;
  display: inline-block;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .my-work-item__side-project {
    max-width: 50%;
  }
}
@media screen and (min-width: 900px) {
  .my-work-item__side-project {
    max-width: 50%;
  }
}
.my-work-item__side-project:hover span.side-project-name {
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 1;
}
.my-work-item__image--side-project-link {
  max-width: 100%;
  width: 100%;
  position: relative;
  vertical-align: bottom;
}
.my-work-item__image--side-project-link:hover {
  opacity: 1;
  height: 100%;
}
span.side-project-name {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  display: table;
  left: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  font-size: 18px;
  width: 90vw;
  height: 90vw;
}
@media (any-hover: none) {
  span.side-project-name {
    opacity: 1;
  }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  span.side-project-name {
    width: 45vw;
    height: 45vw;
  }
}
@media screen and (min-width: 900px) {
  span.side-project-name {
    width: 100%;
    height: calc(450px);
  }
}
span.side-project-name span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.animation-example {
  width: 100%;
  max-width: 24em;
  display: inline-block;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.footer {
  min-height: 10em;
}
@media screen and (min-width: 700px) {
  .footer__content {
    padding-top: 4em;
  }
}
.h1-heading {
  font-size: 2em;
  margin-top: 0;
  line-height: 1.5em;
  max-width: 630px;
}
.h1-heading--hero {
  font-size: 7em;
  margin-top: 0;
  line-height: 1em;
  max-width: 630px;
}
@media screen and (min-width: 900px) {
  .h1-heading--hero {
    font-size: 10em;
  }
}
.h2-heading {
  font-size: 1.5em;
  margin-top: 0;
  line-height: 1.5em;
  max-width: 630px;
}
.h3-heading {
  font-size: 1.1em;
  margin-top: 2em;
  margin-bottom: 0.75em;
  max-width: 630px;
}
.link {
  text-decoration: none;
  margin-bottom: 0.75em;
  line-height: 1.5em;
  display: block;
}
.link:hover {
  text-decoration: underline;
  opacity: .8;
}
.link__about-me {
  color: #ffffff;
  text-decoration: underline;
}
@media screen and (min-width: 700px) {
  .link__about-me {
    color: #0062C3;
    text-decoration: none;
  }
}
.link--on-dark-bg {
  color: #ffffff;
  text-decoration: underline;
}
.link--on-dark-bg:visited {
  color: #E0E0E0;
}
.link--on-light-bg {
  color: #0062C3;
}
.link--on-light-bg:visited {
  color: #9900CC;
}
.link--list {
  margin-top: 0;
  margin-bottom: 2.5em;
}
@media screen and (min-width: 700px) {
  .link__footer {
    display: inline;
    padding-right: 1.5em;
  }
}
.link--inline {
  display: inline;
}
.link--case-study-nav {
  display: block;
  padding-bottom: 0.75em;
}
@media screen and (min-width: 350px) {
  .link--case-study-nav {
    display: inline;
    padding-right: 3em;
  }
}
.text--on-dark-bg {
  color: #ffffff;
}
.list {
  list-style: none;
  padding-left: 0;
}
.list__item {
  margin-left: -0.8em;
  list-style-position: inside;
  text-indent: -0.8em;
  padding-left: 1em;
  max-width: 630px;
}
.list__item:before {
  content: '\00B7';
  padding-right: 0.5em;
}
.image-caption {
  color: #747474;
  font-size: 0.75em;
  margin-bottom: 2em;
  line-height: 1.5em;
}
.nobr {
  white-space: nowrap;
}
.bttn {
  border-radius: 0px;
  display: inline-block;
  padding: 0;
  cursor: pointer;
}
.bttn:focus {
  outline: none;
}
.bttn--email {
  width: 150px;
  margin-left: -0.6em;
  margin-right: 1.5em;
  margin-bottom: 1em;
}
@media screen and (min-width: 700px) {
  .bttn--email {
    width: 180px;
    margin-left: -1.5em;
    margin-right: 1.5em;
    margin-bottom: 0;
  }
}
.bttn--almost-black {
  color: #ffffff;
  background: #030303;
  border: solid #ffffff 1px;
  -webkit-transition: background 0.7s ease;
  transition: background 0.7s ease;
}
@media (any-hover: hover) {
  .bttn--almost-black:hover {
    color: #030303;
    background: #ffffff;
    border: solid #ffffff 1px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .bttn--almost-black:hover {
    color: #030303;
    background: #ffffff;
    border: solid #ffffff 1px;
  }
}
@-moz-document url-prefix() {
  .bttn--almost-black:hover {
    color: #030303;
    background: #ffffff;
    border: solid #ffffff 1px;
  }
}
.bttn__label {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  width: inherit;
  text-align: center;
}
.modal {
  position: fixed;
  z-index: 300;
  padding-top: 2em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal--browser-warning {
  display: none;
}
.modal__content {
  background-color: #ffffff;
  margin: auto;
  width: 80%;
  padding: 2em;
}
@media screen and (min-width: 700px) {
  .modal__content {
    width: 60%;
  }
}
@media screen and (min-width: 900px) {
  .modal__content {
    width: 50%;
  }
}
.modal__close-button {
  color: #030303;
  float: right;
  font-size: calc(45px);
  font-weight: 700;
  margin-top: -1em;
}
@media screen and (min-width: 700px) {
  .modal__close-button {
    margin-top: -1em;
  }
}
.modal__close-button:hover {
  color: #0062C3;
  cursor: pointer;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.z-nav-header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0D3161;
}
@media screen and (min-width: 900px) {
  .z-nav-header-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}
.z-nav {
  display: none;
}
@media screen and (min-width: 900px) {
  .z-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #0D3161;
    width: 260px;
    min-width: 260px;
    height: 200vh;
    color: white;
    padding: 83px 30px 0px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.z-header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.z-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #0D3161;
  color: white;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  height: 60px;
  z-index: 1;
  padding: 0px 160px 0px 20px;
  position: fixed;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .z-header {
    position: relative;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    background-color: white;
    color: black;
    height: 200px;
    max-height: 200px;
    min-height: 200px;
    padding: 75px 160px 0px 30px;
  }
}
@media screen and (min-width: 900px) {
  .z-header {
    padding: 75px 160px 0px calc(10% + 37px);
  }
}
.z-header__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: calc(50% - 20px);
  padding-left: 10px;
  min-width: 80px;
  font-size: 14px;
}
@media screen and (min-width: 600px) {
  .z-header__menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: blue;
    margin-right: 30px;
    padding-left: 0;
    text-decoration: none;
    font-size: 18px;
  }
}
@media screen and (min-width: 900px) {
  .z-header__menu {
    display: none;
  }
}
.z-header__heading {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media screen and (min-width: 600px) {
  .z-header__heading {
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
  }
}
.z-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background-color: #FBFBFB;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 100px 0 40px 0;
  margin-right: -10px;
  margin-left: -10px;
}
@media screen and (min-width: 600px) {
  .z-content {
    padding: 50px 10% 50px 10%;
    margin: 0;
  }
}
.z-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .z-row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.z-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.z-card {
  background-color: white;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 30px 40px 30px;
  margin: 0 10px 20px 10px;
  min-height: 200px;
  min-width: 250px;
}
.z-card__heading {
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 20px;
}
.z-card__content {
  font-size: 18px;
}
.YouTubeVideoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.YouTubeVideoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vedmas {
  background-image: url(../resources/images/vedmas-snowflake-background.jpg);
  background-repeat: repeat;
}
.tennisChartWrapper iframe {
  width: 200%;
  height: 100%;
  border: 0;
  margin-left: calc(-1*(300px - 45vw));
}
@media screen and (min-width: 600px) {
  .tennisChartWrapper iframe {
    margin-left: -140px;
  }
}
.text-flicker-in-glow {
  -webkit-animation: text-flicker-in-glow 3s linear 250ms both;
  animation: text-flicker-in-glow 3s linear 250ms both;
}
@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}

/*# sourceMappingURL=app.css.map */
