// @import (reference) 'theme/variables.less';
// @import '../../node_modules/normalize.css/normalize.css';
@import (reference) 'variables';


html {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  font-size: @font-base-size;
  line-height: 1.5em;
  font-weight: @font-weight-normal;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', sans-serif;
  font-size: inherit;
  font-weight: @font-weight-medium;
}

p {
  margin-top: 0;
  max-width: @max-text-width;
}

// --- NAV
.nav {
  background-color: @colour-medium-gray;
  padding: 2em 2em 6em 0em;

}

.nav__list {
  list-style: none;
  margin-left: @margin-left;
  padding: 0;

  @media screen and (min-width: @screen-large) {
    max-width: @screen-large;
    margin: auto; 
  }
}

.nav__item a {
  text-decoration: none;
  color: @colour-almost-black;
  // display: block;
  padding: 1em 1em;
}

.nav__item:first-child a {
  padding-left: 0;
  font-weight: @font-weight-bold;
}

.nav__item a:hover {
  text-decoration: underline;
}

.nav__item--selected {
  font-weight: @font-weight-bold;
}

.nav__item {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1em;
  font-weight: @font-weight-normal;
  display: inline;
  
}


// --- HOME PAGE

// --- HEADSHOT 

.header {
  background-color: @colour-medium-gray;

  @media screen and (min-width: @screen-large) {
    height: 440px; // I need to get rid of this. No idea why it's needed
  }
}

.header__content {

  max-width: 100%;

  @media screen and (min-width: @screen-large) {
    max-width: @screen-large;
    margin: auto; 
  }
}

.header__image {
  background-image: url(../images/headshot.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-top: calc(150px + (20 * @section-padding-top)); //image height + standard section padding
  margin-left: @margin-left;


  @media screen and (min-width: @screen-large) {
    background-image: url(../images/headshot_large.png);
    padding-top: calc(@block-width + (20 * @section-padding-top)); //image height + standard section padding
    display: inline-block;
    width: @block-width;
    margin-left: 0;
  }  
}

.intro {
  background-color: @colour-almost-black;

  @media screen and (min-width: @screen-large) {
    display: inline-block;
    background-color: @colour-medium-gray;
    vertical-align: top;
    padding-top: calc(2.5*@section-padding-top); //2.5 is to get the heading to align with the eyes
    margin-left: 40px;
  }
}

.intro__content{
  padding-top: @section-padding-top;
  padding-bottom: @section-padding-bottom;
  max-width: @block-width;
  color: @colour-white;
  margin-left: @margin-left;
  margin-right: @margin-right;

  @media screen and (min-width: @screen-large) {
    color: @colour-almost-black;
    background-color: @colour-medium-gray;
  }
}


// --- HOME PAGE SECTIONS 

.section {}

.section__content {
  
  padding-top: @section-padding-top;
  padding-bottom: @section-padding-bottom;

  max-width: 100%;
  margin-left: @margin-left;
  margin-right: @margin-right;

  @media screen and (min-width: @screen-large) {
    max-width: @screen-large;
    margin: auto;
  }

}


.section__image{
  background-repeat: no-repeat;
  padding-top: 200px;
}

.section--dark {
  color: @colour-white;
  background-color: @colour-almost-black;
}

.section--medium {
  color: @colour-almost-black;
  background-color: @colour-light-gray;
}

.section--light {
  color: @colour-almost-black;
  background-color: @colour-white;
}

.section--first-in-section {
  padding-top: @section-padding-first;
}

.section--last-in-section {
  padding-bottom: @section-padding-last;
}


.sub-section {}

.sub-section__content {

  padding-top: @sub-section-padding-top;
  padding-bottom: @sub-section-padding-bottom;
  
  max-width: 100%;
  margin-left: @margin-left;
  margin-right: @margin-right;

  @media screen and (min-width: @screen-large) {
    max-width: @screen-large;
    margin: auto; 
  }
  
  
}

.sub-section--first-in-section {
  padding-top: @sub-section-padding-first;
}

.sub-section--last-in-section {
  padding-bottom: @sub-section-padding-last;
}

.paragraph__home {
  max-width: @block-width;
}


// --- ABOUT


.image--full-width {
  max-width: 100%;
}

// --- MY WORK 

// I have a max width of 35em to work with

.my-work-item {
  padding-top: 2em;
  padding-bottom: 4em;
}

.my-work-item__image {
  display: inline-block;
  padding-top: 1em;
  vertical-align: top;
  max-width: 15em;
}

.my-work-item__description {
  display: inline-block;
  max-width: 18em;
  padding-top: 2em;
  vertical-align: top;

  @media screen and (min-width: @screen-large) {
    padding-left: 2em;
    padding-top: 1em;
  }
}


// --- FOOTER

.footer {
  min-height: 10em;
}

.footer__content {

  @media screen and (min-width: @screen-large) {
    padding-top: 4em;
  }
}


// --- GENERAL TYPOGRAPHY

.section-heading{
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 1em;
}

.sub-heading{
  font-size: 1.1em;
  font-weight: @font-weight-bold;
  margin-top: 0;
  margin-bottom: 0.75em;
}

.link {
  text-decoration: none;
  margin-bottom: 0.75em;
  line-height: 1.5em;
  display: block;
}

.link:hover {
  text-decoration: underline;
  opacity: .8;
}

.link__about-me {
  color: @colour-white;
  text-decoration: underline;

  @media screen and (min-width: @screen-large) {
    color: @colour-link-blue;
    text-decoration: none;
  }
}

.link--on-dark-bg {
  color: @colour-white;
  text-decoration: underline;
}

.link--on-light-bg {
  color: @colour-link-blue;
}

.link--list {
  margin-top: 0;
  margin-bottom: 2.5em;
}

.link__footer{
  @media screen and (min-width: @screen-large) {
    display: inline;
    padding-right: 2em;
  }
}

.link--inline{
  display: inline;
}

