// @import (reference) 'theme/variables.less';
// @import '../../node_modules/normalize.css/normalize.css';
@import (reference) 'variables';


html {
  // overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  // overflow-x: hidden;
  position: relative;
  font-size: @font-base-size;
  line-height: 1.5em;
  font-weight: @font-weight-thin;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', sans-serif;
  font-size: inherit;
  font-weight: @font-weight-medium;
}

p {
  margin-top: 0;
  max-width: @max-text-width;
  font-weight: @font-weight-thin;
}

// --- NAV

.nav {
  background-color: @colour-medium-gray;
  transition: background-color 0.25s ease;
  padding: 0.01em 0em 0.01em 0em;

  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  z-index: 1000;
  top: 0px;

  @media screen and (min-width: @screen-large) {
    padding: 1.5em 2em 1.5em 2em;
  }
}

.nav--stuck {
  background-color: @colour-white;
  transition: background-color 1s ease;
  box-shadow: 0px 1px 2px @colour-shadow;
}

.nav--on-white-bg {
  transition: background-color 0.25s ease;
  background-color: @colour-white;
}

.nav--on-light-bg {
  transition: background-color 0.25s ease;
  background-color: @colour-light-gray;
}

.nav__list {
  list-style: none;
  margin-left: @margin-left;
  padding: 0;

  @media screen and (min-width: @screen-large) {
    max-width: @screen-large;
    margin: auto;
  }
}

.nav__item a {
  text-decoration: none;
  color: @colour-almost-black;
  padding: 1em 0.6em;

  @media screen and (min-width: @screen-large) {
    padding: 1em 1em;
  }
}

.nav__item:first-child a {
  padding-left: 0;
}

.nav__item a:hover {
  text-decoration: underline;
}

.nav__item--selected a {
  font-weight: @font-weight-bold;
}

.nav__item {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1em;
  font-weight: @font-weight-normal;
  display: inline;

}


// --- HOME PAGE

// --- HEADSHOT

.header {
  background-color: @colour-medium-gray;

  @media screen and (min-width: @screen-medium) {
    height: 440px; // I need to get rid of this. No idea why it's needed
  }
}

.header__content {

  max-width: 100%;

  // Medium devices
  @media screen and (min-width: @screen-medium) and (max-width: @screen-large) {
    max-width: @screen-medium;
    margin: auto;
  }

  // Large devices
  @media screen and (min-width: @screen-large) {
    max-width: @screen-large;
    margin: auto;
  }
}

.header__image {
  background-image: url(../resources/images/headshot.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-top: calc(150px + (20 * @section-padding-top)); //image height + standard section padding
  margin-left: @margin-left;


  // Medium devices
  @media screen and (min-width: @screen-medium) and (max-width: @screen-large) {
    background-image: url(../resources/images/headshot_large.png);
    padding-top: calc(@block-width + (20 * @section-padding-top)); //image height + standard section padding
    display: inline-block;
    width: 300px;
    background-size: contain;
    margin-left: 0;
  }

  // Large screen
  @media screen and (min-width: @screen-large) {
    background-image: url(../resources/images/headshot_large.png);
    padding-top: calc(@block-width + (20 * @section-padding-top)); //image height + standard section padding
    display: inline-block;
    width: @block-width;
    margin-left: 0;
  }
}

.header--extra-pading {
  padding-bottom: 4em;
  background-color: @colour-medium-gray;
}

.intro {
  background-color: @colour-almost-black;

  // Medium devices
  @media screen and (min-width: @screen-medium) and (max-width: @screen-large) {
    display: inline-block;
    background-color: @colour-medium-gray;
    vertical-align: top;
    padding-top: calc(4*@section-padding-top); //4 is to get the heading to align with the eyes
    margin-left: 0.5em;
    max-width: 380px;
  }

  @media screen and (min-width: @screen-large) {
    display: inline-block;
    background-color: @colour-medium-gray;
    vertical-align: top;
    padding-top: calc(2.5*@section-padding-top); //2.5 is to get the heading to align with the eyes
    margin-left: 2em;
    max-width: 380px;
  }
}

.intro__content{
  padding-top: @section-padding-top;
  padding-bottom: @section-padding-bottom;
  max-width: @block-width;
  color: @colour-white;
  margin-left: @margin-left;
  margin-right: @margin-right-reduced;

  // Medium devices and larger
  @media screen and (min-width: @screen-medium){
    color: @colour-almost-black;
    background-color: @colour-medium-gray;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-right: @margin-right;
  }
}


// --- HOME PAGE SECTIONS

.section {}

.section__content {

  padding-top: @section-padding-top;
  padding-bottom: @section-padding-bottom;

  max-width: 100%;
  margin-left: @margin-left;
  margin-right: @margin-right;

  @media screen and (min-width: @screen-large) {
    max-width: @screen-large;
    margin: auto;
  }

}


.section__image{
  background-repeat: no-repeat;
  padding-top: 200px;
}

.section--dark {
  color: @colour-white;
  background-color: @colour-almost-black;
}

.section--medium {
  color: @colour-almost-black;
  background-color: @colour-light-gray;
}

.section--light {
  color: @colour-almost-black;
  background-color: @colour-white;
}

.section--first-in-section {

  padding-top: calc(@section-padding-first/2);

  @media screen and (min-width: @screen-large) {
    padding-top: @section-padding-first;
  }
}

.section--last-in-section {

  padding-bottom: calc(@section-padding-last/2);

  @media screen and (min-width: @screen-large) {
    padding-bottom: @section-padding-last;
  }
}

.section--on-top {
  z-index: 99;
  position: relative;
}

.section--nav{
  padding-top: calc(@section-padding-top+0.75em);
  // padding-bottom: @section-padding-bottom;
}


.sub-section {}

.sub-section__content {

  padding-top: @sub-section-padding-top;
  padding-bottom: @sub-section-padding-bottom;

  max-width: 100%;
  margin-left: @margin-left;
  margin-right: @margin-right;

  @media screen and (min-width: @screen-large) {
    max-width: @screen-large;
    margin: auto;
  }
}

.sub-section__content--no-margins {
  margin: 0;
  }


.sub-section--first-in-section {
  padding-top: @sub-section-padding-first;
}

.sub-section--last-in-section {
  padding-bottom: @sub-section-padding-last;
}

.paragraph__home {
  max-width: @block-width;
}

.tota11y {
  display: none;

  @media screen and (min-width: @screen-large) {
    display: block;
  }
}


// --- IMAGES


.image--full-width {
  width: 100%;
  // max-width: 100%;
  display: block;
}

.image--medium {
  width: 100%;
  max-width: @max-text-width;
  display: inline-block;
  margin-bottom: 2em;
}

.image--small {
  width: 100%;
  max-width: calc(@max-text-width/2);
  display: inline-block;
  margin-bottom: 2em;
}

.image--with-caption {
  margin-bottom: 0;
}



// --- MY WORK

// I have a max width of 35em to work with

.my-work-item {
  padding-top: 2em;
  padding-bottom: 4em;
}

// a section with an iPad image

.my-work-item--with-ipad {

  padding-top: 3em;
  padding-bottom: 3em;

  max-width: 100%;
  margin-left: @margin-left;
  margin-right: @margin-right;

  @media screen and (min-width: @screen-large) {
    max-width: @screen-large;
    margin: auto;
    padding-top: 8em;
    padding-bottom: 10em;
  }
}

.my-work-item__image--ipad {
  width: 100%;
  max-width: 24em;
  display: inline-block;

  -webkit-filter: drop-shadow(3px 3px 5px @colour-shadow);
  filter: drop-shadow(3px 3px 5px @colour-shadow);

  // Medium devices
  @media screen and (min-width: @screen-medium) and (max-width: @screen-large) {
    max-width: 15em;
  }

  // Large devices
  @media screen and (min-width: @screen-large) {
    -webkit-filter: drop-shadow(10px 15px 20px @colour-shadow);
    filter: drop-shadow(10px 15px 20px @colour-shadow);
  }
}

.my-work-item__description--ipad {
  display: inline-block;
  padding-top: 2em;
  vertical-align: top;

  // Medium devices
  @media screen and (min-width: @screen-medium) and (max-width: @screen-large) {
    padding-left: 2em;
    padding-top: 0;
    max-width: 18em;
  }

  // Large devices
  @media screen and (min-width: @screen-large) {
    padding-left: 4em;
    padding-top: 0;
    max-width: 18em;
  }
}

.h2-heading__with-ipad--side-by-side {

  @media screen and (max-width: @screen-medium) {
    display: none;
  }
}

.h2-heading__with-ipad--vertically-stacked {
  padding-bottom: 1em;



  @media screen and (min-width: @screen-medium) {
    display: none;
  }
}

// a section with a desktop browser

.my-work-item--with-desktop-browser {

  padding-top: 3em;
  padding-bottom: 0;

  max-width: 100%;
  margin-left: @margin-left;
  margin-right: @margin-right;

  @media screen and (min-width: @screen-large) {
    max-width: @screen-large;
    margin: auto;
    padding-top: 8em;
  }
}

.my-work-item__image--browser-centred {
  width: 100%;
  max-width: 65em;
  display: block;
  margin-top: 3em;

  -webkit-filter: drop-shadow(3px 3px 5px @colour-shadow);
  filter: drop-shadow(3px 3px 5px @colour-shadow);

  @media screen and (min-width: @screen-large) {
    margin-top: 4em;
    -webkit-filter: drop-shadow(0px 10px 20px @colour-shadow);
    filter: drop-shadow(0px 10px 20px @colour-shadow);
  }
}

.my-work-item__image {
  display: inline-block;
  padding-top: 1em;
  vertical-align: top;
  max-width: 15em;
}

// a section with a full width image

.my-work-item_full-width-image--rubicon {
  padding: 0;

  width: 100%;
  height: 40em;

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
  url(/resources/images/rubicon_design_workshop_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;

  @media screen and (min-width: @screen-large) {
    height: 50em;
  }

}

.my-work-item_full-width-image--kolektiv {
  padding: 0;

  width: 100%;
  height: 40em;

  background:
  linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
  url(/resources/images/kolektiv_watching_usability_testing_summary_video.jpg);
    background-size: cover;
    background-repeat: no-repeat;

  @media screen and (min-width: @screen-large) {
    height: 50em;
  }

}



.my-work-item__description--full-width-image {
  padding-top: 3em;
  padding-bottom: 0;

  max-width: 100%;
  margin-left: @margin-left;
  margin-right: @margin-right;

  @media screen and (min-width: @screen-large) {
    max-width: @screen-large;
    margin: auto;
    padding-top: 8em;
  }
}

// SIDE PROJECTS SECTION

.my-work-item--side-projects {

  padding-top: 3em;
  padding-bottom: 10em;

  max-width: 100%;
  margin-left: @margin-left;
  margin-right: @margin-right;

  @media screen and (min-width: @screen-large) {
    max-width: @screen-large;
    margin: auto;
    padding-top: 8em;
  }
}

.my-work-item--side-projects-container {
  font-size: 0; //needed to remove the gap between images.
                // Because of this, the sizes at this level and below must be in px, not em
  position: relative;
  padding-top: 72px;

  max-width: 100%;
  max-height: 100%;
  height: 100%;
}


.my-work-item__side-project {

  //small devices
  position: relative;
  max-width: 100%;
  width: 100%;
  display: inline-block;

  //medium devices
  @media screen and (min-width: @screen-medium) and (max-width: @screen-large) {
    max-width: 50%;
  }

  // Large devices
  @media screen and (min-width: @screen-large) {
    max-width: 50%;
  }

}

.my-work-item__side-project:hover span.side-project-name{
  transition: opacity 1s ease;
  opacity: 1;
}

.my-work-item__image--side-project-link {
  max-width: 100%;
  width: 100%;
  position: relative;
  vertical-align: bottom; //to remove the vertical gap between the images
}

.my-work-item__image--side-project-link:hover{
    opacity:1;
    height: 100%;
}



span.side-project-name {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  left: 0;
  position: absolute;
  top: 0;

  opacity: 0;
  font-size: 18px;

  //small devices
  width: 90vw;
  height: 90vw;

  //touch devices
  @media (any-hover: none) {
    //can't hover on touch devices, so mane the label always visible
    opacity: 1;
  }

  //medium devices
  @media screen and (min-width: @screen-medium) and (max-width: @screen-large) {
    //here I know that the margin is 5% on each side, so using the remaining 45%
    width: 45vw;
    height: 45vw;
  }

  // Large devices
  @media screen and (min-width: @screen-large) {
    //on large devices, I can use absolute values
    width: 100%;
    height: calc(@screen-large/2);
  }
}

span.side-project-name span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


// --- CASE STUDY

.animation-example {
  width: 100%;
  max-width: 24em;
  display: inline-block;
  box-shadow:  3px 3px 5px @colour-shadow;
}

// --- FOOTER

.footer {
  min-height: 10em;
}

.footer__content {

  @media screen and (min-width: @screen-medium) {
    padding-top: 4em;
  }
}



// --- GENERAL TYPOGRAPHY

.h1-heading {
  font-size: 2em;
  margin-top: 0;
  line-height: 1.5em;
  max-width: @max-text-width;
}

.h1-heading--hero {
  font-size: 7em;
  margin-top: 0;
  line-height: 1em;
  max-width: @max-text-width;

  @media screen and (min-width: @screen-large) {
    font-size: 10em;
  }
}

.h2-heading{
  font-size: 1.5em;
  margin-top: 0;
  line-height: 1.5em;
  max-width: @max-text-width;
}

.h3-heading{
  font-size: 1.1em;
  margin-top: 2em;
  margin-bottom: 0.75em;
  max-width: @max-text-width;
}

.link {
  text-decoration: none;
  margin-bottom: 0.75em;
  line-height: 1.5em;
  display: block;
}

.link:hover {
  text-decoration: underline;
  opacity: .8;
}

// .link:visited {
//   color: @colour-link-blue-visited
// }

.link__about-me {
  color: @colour-white;
  text-decoration: underline;

  @media screen and (min-width: @screen-medium) {
    color: @colour-link-blue;
    text-decoration: none;
  }
}

.link--on-dark-bg {
  color: @colour-white;
  text-decoration: underline;
}

.link--on-dark-bg:visited {
  color: @colour-medium-gray;
}

.link--on-light-bg {
  color: @colour-link-blue;
}

.link--on-light-bg:visited {
  color: @colour-link-blue-visited
}

.link--list {
  margin-top: 0;
  margin-bottom: 2.5em;
}

.link__footer{
  @media screen and (min-width: @screen-medium) {
    display: inline;
    padding-right: 1.5em;
  }
}

.link--inline{
  display: inline;
}

.link--case-study-nav
{
  display: block;
  padding-bottom: 0.75em;

  @media screen and (min-width: @screen-small) {
    display: inline;
    padding-right: 3em;
  }
}

.text--on-dark-bg {
  color: @colour-white;
}

.list {
  list-style: none;
  padding-left: 0;
}

.list__item {
  margin-left: -0.8em;
  list-style-position: inside;
  text-indent: -0.8em;
  padding-left: 1em;
  max-width: @max-text-width;
}

// this is to get the mid dot character as the bullet
.list__item:before {
    content:'\00B7';  //code for mid dot character
    padding-right: 0.5em;
}

.image-caption {
  color: @colour-dark-gray;
  font-size: 0.75em;
  margin-bottom: 2em;
  line-height: 1.5em;
}

// used to avoid orphaned words
.nobr {
  white-space:nowrap;
}

// copy email button
.bttn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  display: inline-block;
  padding: 0;
  cursor: pointer;

}

.bttn:focus {
  outline: none;
}

.bttn--email {
  width: 150px;
  margin-left: -0.8em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;

  // Medium and large devices
  @media screen and (min-width: @screen-medium) {
    width: 180px;
    margin-left: -2em;
    margin-right: 2.5em;
    margin-bottom: 0;
  }
}

.bttn--almost-black {
  color: @colour-white;
  background: @colour-almost-black;
  border: solid @colour-white 1px;

  -webkit-transition: background 0.7s ease;
  -moz-transition: background 0.7s ease;
  -o-transition: background 0.7s ease;
  transition: background 0.7s ease;
}

.bttn--almost-black:hover {

  @media (any-hover: hover) {
    color: @colour-almost-black;
    background: @colour-white;
    border: solid @colour-white 1px;
  }
}


.bttn__label {
  display: inline-block;
  font-size: @font-base-size;
  text-decoration: none;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  width: inherit;
  text-align: center;
}

// modal
.modal {
  display: none;    //hidden by default
  position: fixed;  //don't mover around
  z-index: 20000;       //stay on top
  padding-top: 0;   //start at the top of the screen
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal__content {
  background-color: @colour-white;
  margin: auto;
  width: 100%;
  height:100%;
}

.modal__close-button {
  color: @colour-link-blue;
  float: right;
  font-size: calc(2.5 * @font-base-size);
  font-weight: @font-weight-bold;
  margin-top: -1em;

  // Medium and large devices
  @media screen and (min-width: @screen-medium) {
    margin-top: 0.3em;
  }

}

.modal__close-button:hover {
  color: @colour-link-blue;
  cursor: pointer;
}




// prevent things like navigation being seleted
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

// animation for 404 page

.text-flicker-in-glow {
	-webkit-animation: text-flicker-in-glow 3s linear 250ms both;
	-moz-animation: text-flicker-in-glow 3s linear 250ms both;
	animation: text-flicker-in-glow 3s linear 250ms both;
}

@-webkit-keyframes text-flicker-in-glow{0%{opacity:0}10%{opacity:0;text-shadow:none}10.1%{opacity:1;text-shadow:none}10.2%{opacity:0;text-shadow:none}20%{opacity:0;text-shadow:none}20.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}20.6%{opacity:0;text-shadow:none}30%{opacity:0;text-shadow:none}30.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.6%{opacity:0;text-shadow:none}45%{opacity:0;text-shadow:none}45.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55.1%{opacity:0;text-shadow:none}57%{opacity:0;text-shadow:none}57.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60.1%{opacity:0;text-shadow:none}65%{opacity:0;text-shadow:none}65.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75.1%{opacity:0;text-shadow:none}77%{opacity:0;text-shadow:none}77.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85.1%{opacity:0;text-shadow:none}86%{opacity:0;text-shadow:none}86.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}100%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}}@keyframes text-flicker-in-glow{0%{opacity:0}10%{opacity:0;text-shadow:none}10.1%{opacity:1;text-shadow:none}10.2%{opacity:0;text-shadow:none}20%{opacity:0;text-shadow:none}20.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}20.6%{opacity:0;text-shadow:none}30%{opacity:0;text-shadow:none}30.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.6%{opacity:0;text-shadow:none}45%{opacity:0;text-shadow:none}45.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55.1%{opacity:0;text-shadow:none}57%{opacity:0;text-shadow:none}57.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60.1%{opacity:0;text-shadow:none}65%{opacity:0;text-shadow:none}65.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75.1%{opacity:0;text-shadow:none}77%{opacity:0;text-shadow:none}77.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85.1%{opacity:0;text-shadow:none}86%{opacity:0;text-shadow:none}86.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}100%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}}
