@font-base-size: 18px;
@font-weight-thin: 100;
@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-medium: 500;
@font-weight-bold: 700;

@colour-almost-black: #030303;
@colour-white: #ffffff;
@colour-dark-gray: #747474;
@colour-medium-gray: #E0E0E0;
@colour-light-gray: #F7F7F7;
@colour-link-blue: #0066CC;
@colour-shadow: rgba(0, 0, 0, 0.3);

@margin-left: 5%;
@margin-right: 5%;
@margin-right-reduced: 3.8%;

@project-logo-width: 81px;

@section-padding-top: 2em;
@section-padding-bottom: 1em;
@section-padding-first: 3em;
@section-padding-last: 4em;

@sub-section-padding-top: 1em;
@sub-section-padding-bottom: 1.5em;
@sub-section-padding-first: 3em;
@sub-section-padding-last: 4em;

@screen-small: 350px;
@screen-medium: 700px;
@screen-large: 900px;

@max-text-width: 630px;

// I'm basing a lot of dimensions on the width of the profile image
@block-width: 400px;

