@font-weight-normal: 400;
@font-weight-medium: 500;
@font-weight-bold: 700;

@colour-almost-black: #030303;
@colour-white: #ffffff;
@colour-medium-gray: #E0E0E0;
@colour-light-gray: #F7F7F7;
@colour-link-blue: #0066CC;

@margin-left: 5%;
@margin-right: 5%;

@project-logo-width: 81px;

@block-padding-top: 2em;
@block-padding-bottom: 1em;
@block-padding-first: 2em;
@block-padding-last: 4em;

@screen-large: 900px;

@max-text-width: 30em;

