body{
	text-align: center;
	background: #3370A7;
  font-family: 'Helvetica', 'Roboto', sans-serif;
  font-weight: 100;
  max-width: 320px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

h1{
  color: #fff;
  font-weight: 100;
  font-size: 30px;
  margin: 40px 0px 20px;
  text-align: left;
}

p{
  color: #fff;
  font-weight: 100;
  font-size: 20px;
  line-height: 30px;
  margin: 0px 0px 20px;
  text-align: left;
}

#dearpete{
	width: 320px;
	display: inline-block;
	text-align: left;
	margin-left: 0px;
	padding-bottom: 10px;
}

#message{
	width: 320px;
	display: inline-block;
	text-align: left;
	margin-left: 0px;
	padding-bottom: 20px;
}

#signature{
	width: 320px;
	display: inline-block;
	text-align: left;
	margin-left: 0px;
	padding-bottom: 20px;
	padding-top: 40px;
}

#clockdiv{
	width: 320px;
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 20px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #4597DF;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #3370A7;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 14px;
}

@media (max-width: 414px) {
	
  #clockdiv{
	/*width: 'device-width';*/
	font-family: sans-serif;
	color: #ff0000;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 20px;
	}

}